.PageTitle{
	color: #555555;
	font-size: 50px;
	font-family: "Arial";
	font-style:bold;
	text-align:center;
	
}
.PageSubtitle{
	color:#555555;
	text-align:center;
	font-size:20px;
	
}
.Telegram_logo{
	position:absolute;
	top:89px;
	left:45vw;
}
.PageHeader{
	position:absolute;
	width:20vw;
	height:10vw;
	top:170px;
	left:40vw;
}

