#PageTitle{
	color: #555555;
	font-size: 36px;
	font-family: "Arial";
	font-style:bold;
	text-align:center;
	margin-bottom:3px;
	
}
#PageSubtitle{
	color:#555555;
	text-align:center;
	margin-top:2px
	font-family:"HelveticaNeue-Light",serif;
	font-size:20px;
	
}
#Telegram_logo{
	position:absolute;
	top:89px;
	left:43vw;
}
#PageHeader{
	position:absolute;
	width:30vw;
	height:10vh;
	top:200px;
	left:35vw;
}

#navbar{
	border-bottom:1px;
	border-bottom-color:#e8e8e8;
	box-shadow:none;
	position:absolute;
	top:0px;
	left:0px;
	height:40px;
	width:100vw;
}
#headericon.currentPage{
	font-weight:bold;
	box-shadow:0px 3px 0px #0066aa;
}

#headericon{
	color:#0088cc;
	font-weight:normal;
	font-family:"HelveticaNeue-Light",serif;
	box-shadow:none;
	width:100px;
	float:left;
	height:40px;
	text-align:center;
}

#headericon:hover {
	font-weight:bold;
	box-shadow:0px 3px 0px #0066aa;
	-webkit-transition:font-weight .2s ease-in;
	-webkit-transition:box-shadow .2s ease-in;
}






