#PageTitle{
	color: #0000FF;
	font-size: 64px;
	font-family: "Comic Sans MS";
	font-style:bold;
	
}
#PageSubtitle{
	color:#888888;
	
}
#Telegram_logo{
	margin: auto;
	width: 64;
}
.PageHeader{
	position:absolute;
	width:10vw;
	top:50dp;
	left:45vw;
}

